body {
    background-color: grey;
    padding-top: 70px;
}

a {
    color: #FFF;
}

.inline-block {
    display: inline-block;
}

span {
    color : brown;
    font-weight:bold;
    font-style: italic;
}

btn-primary {
    color:$orange;
}